<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<!-- <p class="view">by {{ page.author | default: site.author }}</p> -->

<h1>Project 2</h1>

<h2>A Mixed Reality Experience</h2>

<a href="https://www.youtube.com/watch?v=738dh33gEhQ&feature=youtu.be"><button class="btn btn-2 btn-2c">Watch the video</button></a>


<h4>Step 1: Brainstorm & Ideate</h4>
<p>
	In coming up with an idea for an MR application which takes into account a specific form of engagement (either attentional, emotional, cognitive, behavioral), we tried to think in which aspects of life we could benefit by having a layer of virtual reality imposed onto reality. When ideating, we came up with the idea of health/fitness and proposed the first idea: a fitness application which could provide demonstrations of a workout routine and could then be replicated by the user and tracked to award points; essentially serving as a virtual personal trainer. While we all agreed this idea was good, it would be too hard to implement. 
	<img src="\assets\img\p2\brainstorm.jpeg">

	Next we found a common hobby among all of us, which happened to be hiking. Hiking is a common hobby in Hong Kong, and so we immediately realized this theme would be widely applicable and relevant. Delving deeper, we realized that one of the most common issues while hiking in Hong Kong is that of diverging trails, upon arriving at which, a hiker is likely to get confused as to which trail to continue on. While signage is usually present, it is often lacking, and as we have validated through personal experience of ourselves and our friends, getting lost or taking the wrong trail is a common occurence while hiking in Hong Kong. 
	<img src="\assets\img\p2\ideate.jpg">
	To resolve this problem which we have identified, we decided to us MR to provide a visual indication of the path which should be taken, which would be built into a set of goggles and be superimposed directly onto the environment. This immediately solves the problem of getting lost, because signs are not needed, and maps, whether paper or mobile, do not have to be deciphered. Furthermore, while hiking, we oftentimes lose mobile phone connection and therefore cannot access an online map or navigation application. Our solution-- the Trekkr Lens-- aims to solve all these problems.
<img src="\assets\img\p2\logo.PNG">

</p>

<h5>Knowing our user</h5>
<p>In ideating the app, we developed a profile for our target user:

<ol>
	<li>A casual hiker who enjoys nature and trekking, but who is not extremely intrepid or adventurous; just someone who wants to go on a leisurely hike, whether alone or with friends. This, we feel is the user who is most likely to benefit from our solution, as they do not want to have to worry about finding the right path or getting lost on the trail.</li>	<br>
	<li>Additionally, this person may be either new to Hong Kong, or new to hiking in general, and thus is not familiar with the local trails.</li>
	<li>Finally, our target user enjoys hiking but does not have any/many hiker friends who are willing to go along on the journey; OR is simply too spontaneous to find friends to accompany him/her in time before the hike.</li>



</ol></p>

<h4>Step 2: Storyboard and Mockups</h4>
<p>
	We first drew out an example use case scenario in while a hiker gets lost, and is introduced to the Trekkr lens, upon which he regains his intended path. This powerful narrative later served as the inspiration for our demo video. 
<img src="\assets\img\p2\storyboard.jpeg">
We not only wanted to create the mere utility of a trail marker, but integrate it into a full-fledged application which would have social features and track one's progress to award points upon trail completion. To that end, the features we ultimately decided to include were: 

<ul>
	<li>Select a Trail</li>
	<li>Challenges</li>
	<li>Leaderboards</li>

<a href="/assets/img/p2/UI1.jpeg"><img class="screen" src="/assets/img/p2/UI1.jpeg"></a>
<a href="/assets/img/p2/UI2.jpeg"><img class="screen" src="/assets/img/p2/UI2.jpeg"></a>
<a href="/assets/img/p2/leader.PNG"><img class="screen" src="/assets/img/p2/leader.PNG"></a>
<div class="note"><strong>Empathize</strong> By providing points to users who user the Trekkr lens, we provide them with a sense of accomplishment and make the experience of using the product more immersive and fun. Additionally, by allowing them to compete with friends, hiking becomes a social activity, whether or not you are on the hike alone.</div>

</p>

<h4>Step 3: Prototype & Demonstration</h4>
<p>To demonstrate the use case of the app, we designed a sample trail in Unity, and implemented it with AR core. One notable feature of the sample trail is that it features checkpoints--a series of white spheres along the trail-- and when gazed upon, they would turn green, thereby giving the user an indication of where he/she has been already. This is not only technically impressive, but also is very practical for the user, to prevent him/her from accidentally retracing his/her steps and going backwards. </p>

<h4>Reflection</h4>
<p>
	I believe that the concept of Trekkr lens is highly beneficial to society and would like to see something like this be implemented in reality, if the MR technology were to become mobile and fast enough in the next few years.
<br><br>
	From this project, I also learned about the intriguing opportunities made possible by different forms of reality: augmented, virtual, and mixed. While these three can sometimes be difficult to distinguish, this project gave insight into the different use-cases of each of them and where they might be most appropriately applied. 
<br><br>
	I look forward to seeing the solutions made possible by these intriguing HCI technologies unfold in the near future and if given the opportunity, I would like to try to commercialize the Trekkr lens into a real product-- along with my great team--The G3 Summit--of course.

	Shout out to Ishan, Nimisha, Cathy, and Tanmay--great work everyone!
</p>

<img src="\assets\img\p2\team.jpeg">

	
<a href="https://www.youtube.com/watch?v=738dh33gEhQ&feature=youtu.be" style="text-align: center;"><button class="btn btn-2 btn-2c">Watch the video</button></a>
{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}
